/* src/components/routes/LandingPage/Faq/Faq.css */



    .faq-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .big-heading-faq {
        text-align: center;
        margin-top: 3.125rem;
        position: relative;
        margin-bottom: 0;
    }

    .big-heading-faq h2 {
        font-size: 6rem;
        margin-top: 0;
        margin-bottom: 0;
        color: #D63D3E63;
        position: relative;
        top: 0;
        left: -100%;
        animation: slideInFromLeft 1s ease forwards;
    }

    .big-heading-faq h3 {
        font-size: 3rem;
        font-weight: 700;
        position: absolute;
        top: 3rem;
        left: 0;
        margin-top: 3rem;
        right: -100%;
        animation: slideInFromRight 1s ease forwards;
    }

    .fa-questions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .faq-button {
        width:50rem;
        background-color: white; 
        box-shadow: 
        inset 0 0 1vw rgba(245, 3, 3, 0.801);
        box-sizing: border-box;
        border: none; 
        color: #CE3B3C; 
        padding: 1rem; 
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 1.25rem;
        margin: 0.5rem 0 ;
        transition-duration: 0.3s;
        cursor: pointer;
        border-radius: 0.5rem; 
    }

    .faq-button:hover {
        background-color: #D63D3E63; 
        color: black; 
        margin: auto;
    }

    

    p {
        max-width: 37.5rem;
        width: 100%;
        font-size: 1.1em;
        line-height: 1.2;
        margin-top: 0.5rem;
        margin-left: 0.75rem;
        padding: 0.5rem;
        text-align: left;
        white-space: pre-line;
    }

:root {
    --base-font-size: 16px; /* Define the base font size */
  }


  @media only screen and (min-width: 360px) and (max-width: 430px) {}

  @media only screen and (min-width: 431px) and (max-width: 760px) {}
  
  @media only screen and (min-width: 761px) and (max-width: 1024px) {}
  
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {}
    
  @media only screen and (min-width: 1441px){}
  

/* Media query for mobile screens */
@media only screen and (max-width: 600px) {



    .faq-page-content{
        width:100%;
    }

    .big-heading-faq{
        margin-bottom: 1rem;
    }

    .big-heading-faq h2{
        font-size: 3rem;
    }

    .big-heading-faq h3{
        font-size: 2rem;
        margin-top: 1rem;
    }

    .faq-button {
        width:20rem;
        font-size: medium;
        padding: 0.5rem; 

    }
    
    .faq-button:hover {
        margin: auto;
    }

    p{
        max-width: 70%;
        font-size: 0.75rem;
        margin-left: auto;
        margin-right: auto;
        padding: 0rem;
    }
} 


@media only screen and (min-width: 601px) and (max-width: 1440px) {



    .faq-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .big-heading-faq {
        text-align: center;
        margin-top: 3.125rem;
        position: relative;
        margin-bottom: 0;
    }

    .big-heading-faq h2 {
        font-size: 6rem;
        margin-top: 0;
        margin-bottom: 0;
        color: #D63D3E63;
        position: relative;
        top: 0;
        left: -100%;
        animation: slideInFromLeft 1s ease forwards;
    }

    .big-heading-faq h3 {
        font-size: 3rem;
        font-weight: 700;
        position: absolute;
        top: 3rem;
        left: 0;
        margin-top: 3rem;
        right: -100%;
        animation: slideInFromRight 1s ease forwards;
    }

    .fa-questions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .faq-button {
        width:45rem;
        background-color: white; 
        box-shadow: 
        inset 0 0 1vw rgba(245, 3, 3, 0.801);
        box-sizing: border-box;
        border: none; 
        color: #CE3B3C; 
        padding: 1rem 1rem; 
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 1.25rem;
        margin: 0.5rem 0 ;
        transition-duration: 0.3s;
        cursor: pointer;
        border-radius: 0.5rem; 
    }

    .faq-button:hover {
        background-color: #D63D3E63; 
        color: black; 
    }

    p {
        max-width: 37.5rem;
        width: 100%;
        font-size: 1.1em;
        line-height: 1.2;
        margin-top: 0.5rem;
        margin-left: 0.75rem;
        padding: 0.5rem;
        text-align: left;
        white-space: pre-line;
    }

}