/*  src/components/routes/Home/BookForm/BookForm.css */


.bookForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: auto;
  max-width: 100%;
}


.epilazexbookForm{
  width: 20vw;
  height: 10vh;
  margin-top: 25vh;
  margin-left: -65vw;

}

.big-heading-bookForm h1 {
  margin: auto;
  margin-top: 3vh;
  margin-left: 0vw;
  font-size: 5.5rem;
  font-weight: 800;
  color: #CE3B3C;
}

.big-heading-bookForm p{
  margin: auto;
  margin-top: 2vh;
  margin-left:6vw;
  font-size: 2rem;
  font-weight: 700;

}


.bookForm-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 8vh;
  
  }
  

.line1-bookForm{
  font-size: 4.5rem;
  font-weight: 700;
  color: #D63D3E63;
  margin: auto;
  margin-top: 10vh;
  position: relative;
  left: -100%;
  animation: slideInFromLeft 1s ease forwards;

}

.line2-bookForm{
  font-size: 2.5rem;
  font-weight: 700;
  margin: auto;
  margin-top: -2vh;
  position: relative;
  right: -100%;
  animation: slideInFromRight 1s ease forwards;

}


#bookForm-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.name-bookForm,
.telephone-bookForm,
.email-bookForm{
  width: 30rem;
  margin: 1rem;
}
.bodyZone-bookForm{
  width: 30rem;
  margin: auto;
  margin-top: 1rem;
  margin-left: 9rem;
}


.bookFormbutton {
  width: 20rem;
  margin-top: 1rem;
}

.name-bookForm:hover,
.telephone-bookForm:hover, 
.email-bookForm:hover{
  background-color: #D63D3E63 ;
  color:white;
  border-bottom: 1px solid black;
}
  
.bodyZone-bookForm:hover{
  background-color: #D63D3E63 ;
  color:white;
}
  
  .bookFormbutton {
    width: 50%;
    background-color: #CE3B3C;
    box-shadow: 0 0 2vw rgba(192, 12, 12, 0.5),
    inset 0 0 1vw rgba(250, 4, 4, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 1.5rem;
    border-radius: 0.65rem;
    height: 2.5rem;
  }
  
  .bookFormbutton:hover{
    box-shadow: 0 0 3vw darkred,
    inset 0 0 1vw darkred;
  }
  
  
  .success-message,
  .error-message {
    margin-top: 10px;
  }
  
  
  
@media only screen and (max-width: 600px) {

  
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(80%); 
    overflow: hidden;
    z-index: -1;
    background: linear-gradient(to right, white 0%, lightpink 50%, white 80%, lightpink 100%);
  }

  .video {
    object-fit: cover;
    opacity: 0.3;
    width: 100%;
    height: calc(100%);
  }

  .epilazexbookForm{
    width: 13rem;
    height: auto;
    margin-top: 25vh;
    margin-left: -40vw ;
  }

  .big-heading-bookForm h1 {
    margin: auto;
    margin-top: 15vh;
    font-size: 1.75rem;
  }
  .big-heading-bookForm p{
    font-size: 1.1rem;
    margin: auto;
    margin-left: 7vw;
  }

    
  .line1-bookForm{
    font-size: 2.25rem;
    margin-top: 14vh;

  }

  .line2-bookForm{
    font-size: 1.5rem;
    margin-top: 1vh;

  }

  .name-bookForm,
  .telephone-bookForm,
  .email-bookForm{
    width: 15rem;
    height: 0.5rem;
    margin: 1rem;
  }

  .bodyZone-bookForm{
    width: 15rem;
    height: 3rem;
    margin: auto;
    margin-top: 3vh;
  }

  .bodyZone-bookForm option{
      font-size: smaller;
      padding: 0;
      margin: 0;
      cursor: pointer;
  }
  
  .bookFormbutton {
    width: 50%;
    height: 2.5rem;
    margin: auto;
    margin-top: 5vh;
  }
  

}
