/* src/components/routes/ContactUs.css */

:root {
    --base-font-size: 16px; /* Define the base font size */
  }
        .big-heading-contactus {
        text-align: center;
        margin-top: 6.25rem;
        position: relative;
        margin-bottom: 3.125rem;
    }

    .big-heading-contactus h2 {
        font-size: 5.5em;
        margin-top: 3.125rem;
        margin-bottom: 0;    
        color: #D63D3E63;
        position: relative;
        top: 0;
        z-index: 1;
        left: -100%;
        animation: slideInFromLeft 1s ease forwards;
    }

    .big-heading-contactus h3 {
        font-size: 2.5em;
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 2.813rem;
        z-index: 2;
        right: -100%;
        animation: slideInFromRight 1s ease forwards;
    }


    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }


    .form-part{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-left: 25rem;
        align-items: center; 
        justify-content: center; 
        color:white;
    }

    .head {
        margin-bottom: 1.25rem; 
        margin-top:0;
        margin-left: 0;
        padding-left:1.875rem;
        font-size: 1.5rem;
        font-style: italic;
        font-style: bold;
        color: black;
    }

    input{
        width: 50%;
        padding: 0.625rem;
        margin-bottom:0.625rem;
        border:0;
        outline: 0;
        border-radius: 0.625rem;
        margin-left: 2.5rem;
        background-color: lightgray;
        border-bottom: 1px solid white;
        color:black; 
    }

    input:hover{
        background-color: #D63D3E63 ;
        color:white;
    }

    select{
        width: 50%;
        padding: 0.625rem;
        margin-bottom:0.625rem;
        border:0;
        outline: 0;
        border-radius: 0.625rem;
        margin-left: 3.125rem;
        background-color: lightgray;
        border-bottom: 1px solid white;
        color:black; 
    }

    select:hover{
        background-color: #D63D3E63 ;
        color:white;
    }

    button.formbutton {
        width: 40%;
        background-color: #CE3B3C;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-left: 6.25rem;
        margin-top: 1.25rem;
        border-radius: 0.625rem;
        height: 2.5rem;
        padding: 0.313rem;
    }

    button.formbutton:hover {
        background-color: lightgray;
    }



/* Media query for mobile screens */
@media screen and ( max-width: 425px){
    .big-heading-contactus{
        margin-top: 3.125rem;
    }
    .big-heading-contactus h2{
        font-size: 1.875rem;
    }
    .big-heading-contactus h3{
        font-size: 1.25rem;
        margin-top: 2.25rem;
    }
    .form-part{
        margin-top: 1.25rem;
        margin-left: 18.75rem;
        width: 45rem;
        margin-right: 2.6rem;
    }
    .head{
        font-size: 1rem;
        margin-right: 1rem;
        margin-top: 2.5rem;
    }
}