/* src/components/routes/Eighth.css */

.eighth-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* background: linear-gradient(to bottom right, white 0%, pink 100%); */

}

.big-heading-7 {
    text-align: center;
    margin-top: 50px;
    position: relative;
    margin-bottom: 0;
}

.big-heading-7 h2 {
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 0;
    color: #D63D3E63;
    position: relative;
    top: 0;
    z-index: 1;
    left: -100%;
    animation: slideInFromLeft 1s ease forwards;
}

.big-heading-7 h3 {
    font-size: 2.5em;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;
    z-index: 2;
    right: -100%;
    animation: slideInFromRight 1s ease forwards;
}

.eighth-containers{
    width:100%;
    display: flex;
    flex-direction: row;
}

.eigth-left-container{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eighth-left-container img{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 200px;
}

.eigth-right-container{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}
.eighth-right-machine{
    width: 400px;
    margin-left: 150px;
    margin-top: 10px;

}
.eighth-right-legs{
    height:400px;
    width:700px;
    margin-left: 420px;
    margin-top: 0;
    margin-bottom: 100px;
    
}

/* Media query for mobile screens */
@media only screen and (max-width: 660px) {
    .big-heading-7{
        margin-top: 30px;
    }
    .big-heading-7 h2{
        font-size: 40px;
    }
    .big-heading-7 h3{
        font-size: 20px;
    }
    .eighth-containers{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .eighth-left-container img{
        margin-left: 160px;
    }

    .eighth-right-legs{
        height: 300px;
        width: 400px;
        margin-left: 500px;
    }
    .eighth-right-machine{
        margin-left: 275px;
    }
    
}