/* src/components/routes/Eighth.css */

:root {
    --base-font-size: 16px; /* Define the base font size */
  }
.eighth-page-content {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    position: relative;
    /* background: linear-gradient(to bottom right, white 0%, pink 100%); */

}

.big-heading-7 {
    text-align: center;
    margin-top: 3.125rem;
    position: relative;
    margin-bottom: 0;
}

.big-heading-7 h2 {
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #D63D3E63;
    position: relative;
    top: 0;
    z-index: 1;
    left: -100%;
    animation: slideInFromLeft 1s ease forwards;
}

.big-heading-7 h3 {
    font-size: 2.5em;
    font-weight: 700;
    position: absolute;
    top: 2rem;
    left: 0;
    margin-top: 3.125rem;
    z-index: 2;
    right: -100%;
    animation: slideInFromRight 1s ease forwards;
}

.eighth-containers{
    width:100%;
    display: flex;
    flex-direction: row;
}

.eigth-left-container{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eighth-left-container img{
    width: 15rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-left: 10rem;
}

.eigth-right-container{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forever{
    width: 35rem;
    margin:auto;
    margin-left: 8rem;

}

/* Media query for mobile screens */
@media screen and ( max-width: 425px){
    
    .big-heading-7 h2{
        font-size: 3rem;
        margin-top: 5rem;
    }
    .big-heading-7 h3{
        font-size: 1.5rem;
        margin-top: 1.25rem;
    }
    .eighth-containers{
        display: flex;
        flex-direction: column;
    }
    .eighth-left-container {
        margin-left: auto;
        margin-right: auto;
    }
    .eighth-left-container img{
        margin-left: auto;
        margin-right: auto;
    }
    .forever{
        width: 20rem;
        margin:0;
        margin-left: 14rem;
    }
    
} 