/* src/components/routes/Fifteenth.css */

:root {
    --base-font-size: 16px; /* Define the base font size */
  }    
    .fifteenth-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .big-heading-14 {
        text-align: center;
        margin-top: 3.125rem;
        position: relative;
        margin-bottom: 0;
    }

    .big-heading-14 h2 {
        font-size: 5rem;
        margin-top: 0;
        margin-bottom: 0;
        color: #D63D3E63; 
        position: relative;
        top: 0;
        z-index: 1;
        left: -100%;
        animation: slideInFromLeft 1s ease forwards;
    }

    .big-heading-14 h3 {
        font-size: 2.5rem;
        font-weight: 700;
        position: absolute;
        top: 2rem;
        left: 0;
        margin-top: 2.813rem;
        z-index: 2;
        right: -100%;
        animation: slideInFromRight 1s ease forwards;
    }


    .fifteenth-image-container {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        margin-top:2rem;
    }

    .fifteenth-image {
        width: 12rem;
        height: 9rem;
        margin: 1rem; 
        border:4px solid #CE3B3C;
        box-shadow: 0 0 2vw rgb(255 0 0 / 35%);
        border-radius: 7px;
    }





/* Media query for mobile screens */
@media screen and ( max-width: 425px){
    .big-heading-14{
        margin-top: 2.5rem;
    }
    .big-heading-14 h2{
        font-size: 2.5rem;
    }
    .big-heading-14 h3{
        font-size: 1.5rem;
        top:1rem;

    }
    .fifteenth-image-container{
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
    }
} 