/* src/components/routes/First.css */


body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Sans-serif;
}



.first-page-content {
    display: flex;
    align-items: center;
    padding: 20px; /* Adjust as needed */
    background: linear-gradient(to bottom , white 0%, pink 60%, white 90%, pink 100%);
}

/* Left-side */
.left-content-first {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    position:relative;
}

.epilazexleft {
    animation: boomerangAnimation 2s ease-in-out infinite alternate;
}

.left-para {
    margin-left: 50px; 
    color: white; 
    margin-left:auto;
}
  
.firstline{
    color: black;
    font-family: "Roboto", Sans-serif;
    font-size: 5.2em;
    font-weight: 900;
    line-height: 1.2em;
    letter-spacing: 0px;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #CE3B3C;
    stroke: black;
}
  
.secondline{
    color: #CE3B3C;
    font-family: "Roboto", Sans-serif;
    font-size: 3.8em;
    font-weight: 900;
    line-height: 1.2em;
    letter-spacing: 0px;
}

.thirdline{
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    font-size: 1.6em;
    margin-left: 5px;
    color:black;
}

.left-icons-wrapper {
    margin-left: auto;
    margin-top: 20px; /* Adjust as needed */
    /* background-color: lightgray;  */
    /* padding: 20px; Adjust padding as needed */
    border-radius: 10px; 
    background-color: transparent;
    box-shadow: 0 0 15px red;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
  
.left-icons-container {
    display: flex;
    flex-direction: row;
    width: auto;
    opacity: 0; /* Initially hidden */
    transform: translateY(20px); /* Initially positioned below */
    animation: slideInFromBottom 2s ease forwards;
}

.icon1, .icon2, .icon3 {
    width: 33.33%;
    margin-right: 5px;
} 

.icon1img, .icon2img, .icon3img {
    margin:20px;
    margin-left: 60px; 
    margin-right: 70px;
    width: 125px; 
    height: 125px; 
}

.icon1caption, .icon2caption, .icon3caption{
    font-size: 1.2em;
    text-align: center;
    color:black;
    margin-top: 0;
    margin-bottom: 0;

}


/* Right side */

.right-content-first {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    position: relative;
    
}

.twomachinesright{
    height: 600px;
    width: 475px;
    margin-top: 100px;
    margin-bottom: 10px;
    position: relative;
    right: -100%;
}


/* Add animation styles */
.left-para div {
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeInRight 2s ease forwards;
}

.firstline, .secondline, .thirdline {
    animation: fadeInLeft 2s ease forwards;
}

.twomachinesright{
    animation: slideInFromRight 1s ease forwards;
}

.left-icons-wrapper{
    animation: slideInFromRight 2s ease forwards;
}

/* Keyframes for slideInFromRight slideInFromBottom boomerangAnimation swirlAnimation fadeInRight and fadeInLeft animations */

@keyframes slideInFromRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes swirlAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes boomerangAnimation {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px); /* Adjust the distance as needed */
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Media query for mobile screens */
@media only screen and (max-width: 660px) {
    .epilazexleft,
    .left-para,
    .twomachinesright,
    .left-icons-container {
      order: initial; /* Reset the order to default */
    }
  
    .left-para {
      flex-direction: column;
      align-items: stretch;
      /* margin-left: 5px; */
    }
    
    .left-icons-wrapper{
        margin-left: 180px;
    }

    .left-icons-container {
      flex-direction: column; /* Stack items vertically on smaller screens */
      align-items: stretch; /* Stretch items to full width */
      height: auto;
      width: 100%;
      justify-content: center;
      margin-left: 30px;
    }

    .icon1caption, 
    .icon2caption,
    .icon3caption{
        display: flex;
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items horizontally on smaller screens */
        margin-left: 120px; /* Remove left margin for better centering */
        margin-top: 0; /* Adjust top margin for spacing */
    }

    .twomachinesright{
        display: none;
    }
  }
  