/* src/components/routes/Footer.css */

:root {
    --base-font-size: 16px; /* Define the base font size */
  }

    .footer-content {
        background: linear-gradient(to bottom, white 0%, pink 50%, #CE3B3C 100%);
        padding: 1.25rem;
        text-align: center;
        margin-top: 3.125rem;
    }

    .footer-container {
        display: flex;
        justify-content: space-around;
        gap:0.313rem;
    }

    .footer-column-one {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.875rem;
    }

    .footer-column-image-1 {
        width: 18rem;
        height: 20rem;
        border-radius:2rem px solid;
    }

    .footer-column-1-icons {
        display: flex;
        justify-content: center;
        gap: 1.25rem;
    }

    .footer-column-1-icons :hover{
        background-color:#CE3B3C;
    }

    .footer-icons {
        width: 1.875rem; 
        height: auto;
    }

    .footer-column-two {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width:15rem;
    }

    .footer-icon-row {
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .footer-icon-caption-1,
    .footer-icon-caption-2, 
    .footer-icon-caption-3  {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: safe;
        margin-top: 0;
        margin-bottom: 0; 
    }

    .footer-icon-caption-1 img{
        height:1.875rem ;
        width:1.875rem;
        margin-right: 0.625rem;
        margin-left: 0;
        margin-top: 2.125rem;
    }

    .footer-icon-caption-2 img{
        height:1.875rem ;
        width:1.875rem;
        margin-right: 0.625rem;
        margin-left: 0;
        margin-top: 0.75rem;
    }

    .footer-icon-caption-3 img{
        height:1.875rem ;
        width:1.875rem;
        margin-right: 0.625rem;
        margin-left: 0;
        margin-top: 0.25rem;
    }

    .footer-icon-caption-2  {
        margin-right: 3.75rem;
    }

    .footer-icon-caption-3  {
        margin-left: 0.313rem;
    }

    .footer-icon-caption-3  p{
        margin-left: 0;
    }


    .footer-column-three,
    .footer-column-four,
    .footer-column-five {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-column-two h3,
    .footer-column-three h3,
    .footer-column-four h3,
    .footer-column-five h3 {
        margin-bottom: 0.5rem;
        color: #CE3B3C;
    }

    
    .footer-column-three > a,
    .footer-column-four > a {
        color: black;
        text-decoration: none;
        margin-top: 0.75rem;
    }

    .footer-column-three > a :hover,
    .footer-column-four > a :hover{
        color:#CE3B3C ;
    }

    .footer-icon-caption p{
        color: black;
        text-align: center;
    }

    .footer-column-five img{
        width:8rem;
        height: 2.5rem;
        margin: 1rem;
        margin-left: 0;
    }

    .icon-seven {
        width: 18rem;

    }

@media screen and ( max-width: 425px){
    .footer-content{
        background: linear-gradient(to bottom, pink 0%, pink 50%, lightpink 90%, #CE3B3C 100%);
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        width: 50rem;
    }
    .footer-column-one{
        margin-right: auto;
        margin-left: 2.5rem;
    }
    .footer-column-two{
        margin-left: 3rem;
    }
    .footer-column-two h3{
        margin-left: 0;
    }

    .footer-column-two .footer-icon-caption-3 {
        margin-right:1rem;
    }
    .icon-seven {
        margin-left: 1rem;
    }
    
    .footer-column-three,
    .footer-column-four,
    .footer-column-five{
        margin-left: 7rem;
        width: 80%;
    }
    
    .footer-column-three h3,
    .footer-column-four h3,
    .footer-column-five h3{
        margin-left: 0;
        margin-right: auto;
    }
    .footer-column-three a,
    .footer-column-four a{
        margin-left: 0rem;
        font-size: 1rem;
    }
    .footer-column-five img{
        width:12rem;
        height:4rem;
        margin-left: -1rem;
        margin-right: auto;
    }

}