/* src/components/routes/Fourth.css */


.big-heading-3 {
    text-align: center;
    margin-top: 50px;
    position: relative;
    margin-bottom: 0; 
}
    

.big-heading-3 h2 {
    font-size: 7em;
    margin-top: 0;
    margin-bottom: 10px;    
    color:#D63D3E63 ;
    position: relative;
    top: 0;
    z-index: 1; /* Ensure h1 is in the background */
    left: -100%;
    animation: slideInFromLeft 1s ease forwards;

}

.big-heading-3 h3 {
    font-size: 3.5em;
    font-weight: 600;
    position: absolute; /* Keep h2 in the normal flow */
    margin-top: 50px;
    top: 0;
    left:0;
    z-index: 2; /* Ensure h2 is on top */
    right: -100%;
    animation: slideInFromRight 1s ease forwards;
}

.two-images{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding-top: 0;
    border: 0;
}

.big-left-img{
    width: 900px;
    height: 500px;
    margin-left: 30px;
    margin-top: 80px;
}


.big-right-machine{
    width: 800px;
    height: 700px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 250px;
}

/* Media query for mobile screens */
@media screen and ( max-width: 480px){
    .big-heading-3 h2{
        font-size: 34px;
    }
    .big-heading-3 h3{
        font-size: 22px;
    }
    .two-images{
        display: flex;
        flex-direction: column-reverse;
    }
    .big-left-img{
        height: 600px;
        width: 500px;
        margin: 0 0 0 0;
        /* margin-right: 1px; */

    }
    .big-right-machine{
        height: 600px;
        width: 400px;        
        margin-left: 0;
    }
    
    
}