/* src/components/routes/Header.css */

:root {
  --base-font-size: 2.5vw; /* Define the base font size */
}

.header-container {
    background-color: white;
    width: 95%;
    box-shadow:
        0 0 0.5rem 0.0625vw #CE3B3C, 
        0 0 0 0.125vw #CE3B3C inset;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    border-radius: 1rem;
    margin-right:auto;
    margin-left:auto;
}

.logo img {
      margin-top:2vh;
      margin-left:1.5vw;
      margin-bottom: 1vh;
      width: 15vw;
      height: 8vh;
    }
    
.buttons {
      display: flex;
      flex-direction: row; 
      align-items: center; 
      margin-left:13vw;
      padding: 1.5vw;
    }
    
.button {
      background-color: white;
      font-size: 1vw;
      font-weight: 700;
      border-radius: 0.5vw;
      cursor: pointer;
      margin: 0;
      border:0;
      outline: 0;
      width:6rem;
      gap: 0;
      transition: all 0.3s ease 0s;
    }
    
.button:hover {
      color: #CE3B3C;
      border-bottom:1vw #CE3B3C;

    }

.benefits{
    width:10vw;
  }  

.prices{
    width:10vw;
  }  


.contact {
      position: relative;
      overflow: hidden;
      margin-left: 3vw;
      width: 12vw;
      border: 1vw;
      border-radius: 0.75rem;
      height: 2.5vw;
      box-shadow: 0 0 1vw #CE3B3C,
      0 0 0 0.1vw #CE3B3C inset;
  }
    
.contact::before {
      content: "Talk to Us";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.5s ease;
  }
    
.contact:hover::before {
    opacity: 0;
  }
    
.contact::after {
      content: "98009 96009";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #CE3B3C;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.3s ease;
      opacity: 0;
  }
    
.contact:hover::after {
    opacity: 1;
  } 


.hamburger-menu {
    display: none; 
  }


/* Add a media query for mobile screens */
@media only screen and (max-width: 600px) {

  .header{
    width:100%;
  }

  .header-container {
      width:75%;
      margin-top: 0.5vh;
  }
  

  .logo img {
    padding-left: 8vw;
    padding-right: 1vw;
    width: 11rem; 
    height: 3rem; 
  }

  .buttons {
    display: none; 
  }

  .hamburger-menu {
    display: inline; /* Show on smaller screens */
    cursor: pointer;
    color:black;
    font-weight: 900;
    margin-left: 8vw;
    margin-right: 10vw;
    margin-top:1vh;
    background-color: #fff;
    padding: 0.5rem 0.75rem; /* Add some padding for better appearance */
    border-radius: 0.5rem;
    box-shadow: 
    0 0 0.5rem 0.095rem #CE3B3C, 
    0 0 0 0.15rem #CE3B3C inset;
  }

  /* Show buttons when the mobile menu is active */
  .mobile-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem; 
    left: 0; 
    color: black;
    border-radius: 0.5rem;
    padding: 1.5rem;
    z-index: 1; /* Ensure the mobile menu is on top */
    background-color: #f3caca; 
    width:18rem;
  }

  .mobile-menu .button {
    margin: 0.5rem;
    padding: 0.5rem 1rem; /* Add padding for better button appearance */
    height: 2.75rem;
    width: 17rem;
    border: none;
    line-height: 1;
    text-align: center; /* Center text inside the button */
    font-size: 0.8rem; /* Adjust font size as needed */
    background-color: transparent; /* Add a background color to the buttons */
    color: black; /* Set text color to white for better contrast */
    border-radius: 0.75rem; /* Add a slight border-radius to the buttons */
    cursor: pointer;
    box-shadow: 
    0 0 0.5rem 0.095rem #CE3B3C, 
    0 0 0 0.15rem #CE3B3C inset;
  }
  
  .contact {
    color: white;
    background-color: #CE3B3C;
  }

  
  .contact {
    position: relative;
    overflow: hidden;
    margin-left: 2vw;
    width: 12vw;
    border: 1vw;
    height: 2.5vw;
    box-shadow: 0 0 1vw red;
  }

  .contact::before {
    content: "Talk to Us";
    position: absolute;
    background-color: #CE3B3C;
    color: white;
  }

  .contact:hover::before {
  opacity: 0;
  }

  .contact::after {
    content: "98009 96009";
    position: absolute;
    background-color: white;
    color: black;
    opacity: 0;
  }

  .contact:hover::after {
    opacity: 1;
  } 



}

@media only screen and (min-width: 601px) and (max-width: 1366px) {
  
}