/* src/components/routes/Header.css */
:root {
  --base-font-size: 16px; /* Define the base font size */
}
@media screen and (min-width: 768px) {
  .header-container {
    background-color: white;
    width: 95%;
    box-shadow:
        0 0 0.5rem 0.0625rem #CE3B3C, 
        0 0 0 0.125rem #CE3B3C inset;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.625rem;
    margin-top: 1.5625rem;
    margin-right:auto;
    margin-left:auto;
    color: white;
  }

.logo img {
      margin-top:0.625rem;
      margin-left:1.25rem;
      margin-bottom: 0.625rem;
      width: 11.25rem;
      height: 2.5rem;
    }
    
.buttons {
      display: flex;
      flex-direction: row; 
      align-items: center; 
      margin-left:8rem;
      padding: 1rem;
    }
    
.button {
      background-color: white;
      font-size: 0.875rem;
      font-weight: 700;
      border-radius: 0.313rem;
      cursor: pointer;
      margin: 0;
      border:0;
      outline: 0;
      width:6rem;
      gap: 0;
      transition: all 0.3s ease 0s;
    }
    
.button:hover {
      color: #CE3B3C;
    }

.benefits{
    width:10rem;
  }  

.prices{
    width:10rem;
  }  


.contact {
      position: relative;
      overflow: hidden;
      margin-left: 1.5rem;
      width: 8rem;
      border: 0.625rem;
      height: 2rem;
      box-shadow: 0 0 1rem red;
  }
    
.contact::before {
      content: "Talk to Us";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.5s ease;
  }
    
.contact:hover::before {
    opacity: 0;
  }
    
.contact::after {
      content: "98009 96009";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #CE3B3C;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.3s ease;
      opacity: 0;
  }
    
.contact:hover::after {
    opacity: 1;
  } 


.hamburger-menu {
    display: none; 
  }

}




/* Add a media query for mobile screens */
@media screen and ( max-width: 425px){
  .header-container {
      background-color: white;
      align-items: stretch; 
      width:70%;
      box-shadow:
          0 0 0.5rem 0.0625rem #CE3B3C, 
          0 0 0 0.125rem #CE3B3C inset;
          display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 0.625rem;
      margin-top: 1.5625rem;
      margin-right:auto;
      margin-left:auto;
      color: white;
      
  }
  

  .logo img {
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem;
    margin-left: 2.5rem; 
    width: 12rem; 
    height: 3rem; 
    padding: 0.5rem;
  }

  .buttons {
    display: none; 
    flex-direction: column;
    margin-top: 1rem; 
    margin-left: 0;
  }

  .button {
    width: 90%; 
    margin-left: 20%; 
  }

  .hamburger-menu {
    display: inline; /* Show on smaller screens */
    cursor: pointer;
    color:black;
    font-weight: 900;
    margin-left: 5rem;
    margin-top:1rem;
    background-color: #fff;
  }

  /* Show buttons when the mobile menu is active */
  .mobile-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7.5rem; /* Adjust the top position as needed */
    right: 1rem; /* Adjust the right position as needed */
    background: linear-gradient(to right, white 0%, pink 50%, white 100%);
    color: black;
    border-radius: 0.625rem;
    padding: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(245, 12, 12, 0.1);
    z-index: 1; /* Ensure the mobile menu is on top */
  }

  .mobile-menu .button {
    margin: 0.3125rem;
    border: none;
  }
  .contact {
    position: relative;
    overflow: hidden;
    margin-left: 3rem;
    width: 8rem;
    border: 0.625rem;
    height: 2rem;
    box-shadow: 0 0 1rem red;
}
  
.contact::before {
    content: "Talk to Us";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
}
  
.contact:hover::before {
  opacity: 0;
}
  
.contact::after {
    content: "98009 96009";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #CE3B3C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    opacity: 0;
}
  
.contact:hover::after {
  opacity: 1;
} 

}