/* src/components/routes/Header.css */
body{
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header-container {
  background-color: white;
  width: 90%;
  box-shadow:
      0 0 8px 1px #CE3B3C, 
      0 0 0 2px #CE3B3C inset;
  /* padding: 20px 0; */
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin-top: 15px;
  margin-right:auto;
  margin-left:auto;
  color: white;
 }

.logo img {
    margin-top:10px;
    margin-left:20px;
    margin-bottom: 10px;
    width: 250px;
    height: 75px;
  }
  

.buttons {
    display: flex;
    flex-direction: row; 
    align-items: center; /* Center content horizontally */
    gap: 20px;
    /* margin-top: 5px;
    margin-bottom:5px; */
    margin-left:30px;
  }
  
.button {
    background-color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    border:0;
    outline: 0;
    margin-right: 13px;
    /* margin-left: 20px; */
    transition: all 0.3s ease 0s;
  }
  
.button:hover {
    color: #CE3B3C;
  }

.contact{
    background-color: #CE3B3C;
    color: lightgrey;
    /* margin-left: 80px; */
    padding-left: 20px;
}
  
.contact:hover {
  background-color: rgb(68, 65, 65);
  color:#CE3B3C;
}

.hamburger-menu {
  display: none; /* Hide by default on larger screens */
}



/* Add a media query for mobile screens */
@media only screen and (max-width: 600px) {
    .header-container {
        background-color: white;
        align-items: stretch; 
    }
  .buttons {
    display: none; /* Hide buttons by default on smaller screens */
    flex-direction: column; /* Change to column for smaller screens */
    margin-top: 10px;
    margin-left: px;
  }

  .button {
    width: 80%; /* Take full width on smaller screens */
    margin-left: 25%; 
  }

  .hamburger-menu {
    display: inline; /* Show on smaller screens */
    cursor: pointer;
    color:white;
    margin-left: 80px;
    background-color: #fff;
    height:20px;
    margin-top:5px;

  }

  /* Show buttons when the mobile menu is active */
  .mobile-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px; /* Adjust the top position as needed */
    right: 12px; /* Adjust the right position as needed */
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(245, 12, 12, 0.1);
    z-index: 1; /* Ensure the mobile menu is on top */
  }

  .mobile-menu .button {
    margin: 15px 15px;
  }

  .logo img {
    margin-top:10px;
    margin-left:50px;
  }

}
