/* src/components/routes/Second.css */

:root {
    --base-font-size: 16px; /* Define the base font size */
  }

.second-page-content {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    position: relative;
    /* background: linear-gradient(to bottom left, white 0%, pink 100%); */
}

    .big-heading-1 {
        text-align: center;
        margin-top: 2rem;
        position: relative;
        margin-bottom: 0;
    }

    .big-heading-1 h2 {
        font-size: 5rem;
        margin-top: 0;
        margin-bottom: 0;
        color:#D63D3E63 ;
        position: relative;
        top: 0;
        z-index: 1; /* Ensure h1 is in the background */
        left: -100%;
        animation: slideInFromLeft 1s ease forwards
    }

    .big-heading-1 h3 {
        font-size: 2.25rem;
        margin-top: 0;
        font-weight: 700;
        position: absolute; /* Keep h2 in the normal flow */
        top: 5rem;
        left:0;
        z-index: 2; /* Ensure h2 is on top */
        right: -100%;
        margin-bottom: 0;
        animation: slideInFromRight 1s ease forwards;
    }

    .girl-image-containers {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }

    .girl-images {
        width: 25vw;
        height: 60vh; 
        margin-top: 0;  
    }

    .machine-image-containers {
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }

    .machine-images {
        width: 14vw;
        height: 28vh; 
        margin-top: 0;
    
    }

    .machine1{
        margin-right: auto;
        margin-left: auto; 
    }
    .machine2{
        margin-left: auto;
        margin-right: auto;
        height:24vh;
        width: 13vw;
    }
    .machine3{
        margin-right: 9rem;
        margin-left: auto;
        height: 15vh;
        width: 10vw;
    }
    .machine4{
        margin-left: 4rem;
        margin-right: auto;
        height: 12vh;
        width: 6vw;
    }





@keyframes slideInFromLeft {
    to {
        left: 0;
    }
}

@keyframes slideInFromRight {
    to {
        right: 0;
    }
}


/* Media query for mobile screens */
@media screen and ( max-width: 425px){
    .big-heading-1 h2 {
        margin-top: 5rem;
        font-size: 2rem;
    }
    
    .big-heading-1 h3 {
        font-size: 1.5rem;
        margin-top: -3rem;
    }

    .second-image-container{
        display: flex;
        flex-direction: row;
    }

    .girl-image-containers,
    .machine-image-containers {
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-top: 1.5rem; 
        width: 50%;
    }
    

    .girl-images {
        height: 15rem;
        width: 15rem;
        margin-bottom: 1rem; 
        margin-left: 2rem;
    }
    
    
    .machine-images {
        margin-left: 3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .machine1 {
        height: 10rem;
        width: 8rem;
        margin-top: -3rem;
        margin-bottom: 2rem;
    }
    
    .machine2 {
        height: 8rem;
        width: 8rem;
        margin-top: 5rem;
        margin-bottom: 0;
    }
    
    .machine3{
        height: 7rem;
        width: 6rem;
        margin-top: 8rem;
        margin-bottom: 0;
    }

    .machine4 {
        height: 4rem;
        width: 6rem;
        margin-top: 10rem;
        margin-bottom: 0;
    }

}
