/* src/components/routes/Second.css */

:root {
    --base-font-size: 16px; /* Define the base font size */
  }

.second-page-content {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    position: relative;
    /* background: linear-gradient(to bottom left, white 0%, pink 100%); */
}

    .big-heading-1 {
        text-align: center;
        margin-top: 3.125rem;
        position: relative;
    }

    .big-heading-1 h2 {
        font-size: 6rem;
        margin-top: 0;
        margin-bottom: 0;
        color:#D63D3E63 ;
        position: relative;
        top: 0;
        z-index: 1; /* Ensure h1 is in the background */
        left: -100%;
        animation: slideInFromLeft 1s ease forwards
    }

    .big-heading-1 h3 {
        font-size: 2.5rem;
        margin-top: 0;
        font-weight: 700;
        position: absolute; /* Keep h2 in the normal flow */
        top: 3.125rem;
        left:0;
        z-index: 2; /* Ensure h2 is on top */
        right: -100%;
        animation: slideInFromRight 1s ease forwards;
    }

    .girl-image-containers {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }

    .girl-images {
        width: 18.75rem;
        height: 18.75rem; 
        margin: 1.25rem;  
    }

    .machine-image-containers {
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-wrap: wrap;
    }

    .machine-images {
        width: 9.375rem;
        height: 9.375rem; 
        margin: 2.5rem;
    
    }

    .machine1{
        margin-left: 4.375rem;
    }
    .machine2{
        margin-left: 8.75rem;
    }
    .machine3{
        margin-left: 7.5rem;

    }
    .machine4{
        margin-left: 8.75rem;
    }





@keyframes slideInFromLeft {
    to {
        left: 0;
    }
}

@keyframes slideInFromRight {
    to {
        right: 0;
    }
}


/* Media query for mobile screens */
@media screen and ( max-width: 425px){
    .big-heading-1 h2 {
        font-size: 2.35rem;
    }
    
    .big-heading-1 h3 {
        font-size: 1.375rem;
        margin-top: 0rem;
    }
    
    .girl-image-containers {
        display: flex;
        flex-direction: column;
        margin-top: 1.5625rem;
    }
    
    .machine-images {
        display: flex;
        flex-direction: column;
        margin-top: 1.5625rem;
    }
    
    .machine1,
    .machine2,
    .machine3,
    .machine4 {
        margin-left: 5.625rem;
    }    

}


/* @media screen and (min-width:426px) and (max-width: 640px) { 
    
    .big-heading-1 h2 {
        font-size: 3.2rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .big-heading-1 h3 {
        font-size: 2rem;
        margin-top: 0rem;
    }
    
    
    .girl-image-containers {
        display: flex;
        flex-direction: column;
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }
    .girl-images{
        width: 25rem;
        height: auto;
    }
    
    .machine-images {
        display: flex;
        flex-direction: column;
        margin-top: 1.5625rem;
        width: 18rem;
        height: auto;
        padding: 2rem;
        margin-right: auto;
        margin-left: auto;
    }
} */