/* src/components/routes/Seventh.css */

        .seventh-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-top: 0;
        padding-top: 0;
        /* background: linear-gradient(to top right, white 0%, pink 100%); */
    }

    .big-heading-6 {
        text-align: center;
        margin-top: 2.5rem;
        position: relative;
        margin-top: 0;
    }

    .big-heading-6 h2 {
        font-size: 5.5em;
        margin-top: 0;
        margin-bottom: 0;
        color: #D63D3E63;
        position: relative;
        top: 0;
        z-index: 1;
        left: -100%;
        animation: slideInFromLeft 1s ease forwards;
    }

    .big-heading-6 h3 {
        font-size: 2.5em;
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
        margin-right: 2.5rem;
        margin-top: 2.813rem;
        z-index: 2;
        right: -100%;
        animation: slideInFromRight 1s ease forwards;
    }

    .seventh-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4.375rem;
        margin-top: 0.625rem;
    }

    .button-lhr-waxing{
        font-family: "Poppins", Sans-serif;
        display: flex;
        flex-wrap: row;
        justify-content: center;
        align-items: center;
        border: 0;
        color: white;
        background-color: #CE3B3C;
        cursor: pointer;
        font-size: 1.125rem;
        padding: 0.938rem 1.563rem;
        outline: 0;
        transition: all 0.3s ease 0s;
        border-radius: 0.938rem;
        
    }

    .seventh-box .button-lhr-waxing{
        display: flex;
        margin-left: 5rem;
        width: 15.625rem;
    } 

    .middle-five-icons{
        margin-top: 5rem;
        height: 23.75rem;
    }

    .seventh-box-content-lhr{
        font-size: 1.25rem;
        font-weight: 400;
        font-family: "Poppins", Sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .seventh-box-content-lhr span{
        margin-bottom: 0.625rem;
        margin-top: 1.875rem;
        padding: 0.625rem;
        border-bottom: 1px solid;
        border-color: #CE3B3C;
        opacity: 0; 
        animation: fadeInRight 2s ease forwards;
    }


    .seventh-box-content-wax{
        font-size: 1.25rem;
        font-weight: 400;
        font-family: "Poppins", Sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .seventh-box-content-wax span{
        margin-bottom: 0.625rem;
        margin-top: 1.875rem;
        padding: 0.625rem;
        border-bottom: 1px solid;
        border-color: #CE3B3C;
        opacity: 0; /* Initially, set the opacity to 0 */
        animation: fadeInRight 2s ease forwards;
    }




/* Keyframe Animation */
@keyframes fadeInRight {
    to {
        opacity: 1; /* Set the opacity to 1 at the end of the animation */
    }
}

/* Media query for mobile screens */
@media screen and ( max-width: 425px){
    .big-heading-6{
        margin-top: 2.5rem;
        margin-left: 2.5rem;
    }
    .big-heading-6 h2{
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
    }
    .big-heading-6 h3{
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    .seventh-box{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        width: 25rem;
    }
    .button-lhr-waxing{
        margin-right: 80%;
    }
    .middle-five-icons{
        display: none;
    }
    
}