/* src/components/routes/Sixteenth.css */

:root {
    --base-font-size: 16px; /* Define the base font size */
  }

        .sixteenth-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 0;
    }

    .big-heading-15 {
        text-align: center;
        margin-top: 3.125rem;
        position: relative;
    }

    .big-heading-15 h2 {
        font-size: 5rem;
        margin-top: 0;
        margin-bottom: 0;
        color: #D63D3E63;
        position: relative;
        top: 0;
        z-index: 1;
        left: -100%;
        animation: slideInFromLeft 1s ease forwards;
    }

    .big-heading-15 h3 {
        font-size: 2.5rem;
        font-weight: 700;
        position: absolute;
        top: 2rem;
        left: 0;
        margin-top: 3.125rem;
        z-index: 2;
        right: -100%;
        animation: slideInFromRight 1s ease forwards;
    }

    .sixteenth-container{
        display: flex;
        flex-direction: row;
    }

    .sixteenth-left-container {
        width: 50%;
        margin: 5rem;
        position: relative;
    }

    .sixteenth-right-container {
        width: 50%;
        position: relative;
    }


    .sixteenth-line {
        margin-bottom: 1.25rem; /* Add margin between lines */
        font-family: "Poppins", Sans-serif;
    }

    .sixteenth-line h2 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1;
        text-align: left;
        margin-left: 0.313rem;
    }

    .sixteenth-line-2 h2 {
        color: #CE3B3C; 
        font-weight: 600;
        font-size: 1.55rem;
        border-bottom: 1px solid;
        border-top: 1px solid;
        padding-top: 0.5rem;
        padding-bottom:0.5rem;

    }

    .sixteenth-img {
        margin-top: 3.125rem;
        width: 21.875rem;
        height: 18.75rem;
        margin-left: 8.75rem;
        position: relative;
        overflow: hidden;
    }





/* Media query for mobile screens */
@media screen and ( max-width: 425px){
    
    .big-heading-15 h2{
        font-size: 2rem;
    }
    .big-heading-15 h3{
        font-size: 1.5rem;
        margin-top: 0.5rem;

    }
    .sixteenth-container{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
        width: 80%;
        margin-left: 0; 
    }
    .sixteenth-img{
        margin-left: 3rem;
        width:150%;
        height: 15rem;
    }
    .sixteenth-left-container{
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5rem;
        width:85%; 
    }
    .sixteenth-line h2{
        font-size: 1.25rem;
        text-align: center;
    }
}