/* src/components/routes/Sixteenth.css */

        .sixteenth-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 0;
    }

    .big-heading-15 {
        text-align: center;
        margin-top: 3.125rem;
        position: relative;
    }

    .big-heading-15 h2 {
        font-size: 6em;
        margin-top: 0;
        margin-bottom: 0;
        color: #D63D3E63;
        position: relative;
        top: 0;
        z-index: 1;
        left: -100%;
        animation: slideInFromLeft 1s ease forwards;
    }

    .big-heading-15 h3 {
        font-size: 2.5em;
        font-weight: 600;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 3.125rem;
        z-index: 2;
        right: -100%;
        animation: slideInFromRight 1s ease forwards;
    }

    .sixteenth-container{
        display: flex;
        flex-direction: row;
    }

    .sixteenth-left-container {
        width: 50%;
        padding: 3.125rem; /* Add padding for better spacing */
        padding-top: 3.125rem;
        margin-left: 2.5rem;
        margin-top: 0;
        position: relative;
    }

    .sixteenth-right-container {
        width: 50%;
        position: relative;
    }


    .sixteenth-line {
        margin-bottom: 1.25rem; /* Add margin between lines */
        font-family: "Poppins", Sans-serif;
    }

    .sixteenth-line h2 {
        font-size: 1.625rem;
        font-weight: 400;
        line-height: 1.1;
        text-align: left;
        margin-left: 0.313rem;
    }

    .sixteenth-line-2 h2 {
        color: #CE3B3C; 
        font-family: "Poppins", Sans-serif;
        font-weight: 800;
        font-size: 2rem;
        border-bottom: 1px solid;
        border-top: 1px solid;
        padding: 0.625rem;

    }

    .sixteenth-img {
        margin-top: 3.125rem;
        width: 21.875rem;
        height: 18.75rem;
        margin-left: 8.75rem;
        position: relative;
        overflow: hidden;
    }





/* Media query for mobile screens */
@media screen and ( max-width: 425px){
    .big-heading-15{
        margin-top: 2.188rem;
    }
    .big-heading-15 h2{
        font-size: 1.875rem;
    }
    .big-heading-15 h3{
        font-size: 1.563rem;
        margin-top: 1.875rem;

    }
    .sixteenth-container{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    .sixteenth-img{
        margin-left: 1.25rem;
        width:25rem;
        height: 18.75rem;
    }
    .sixteenth-left-container{
        margin-left: 1.875rem;
        width:18.75rem;
        flex-direction: stretch;
    }
    .sixteenth-line h2{
        margin-left: 0;
        text-align: center;
        padding-top: 0.313rem;
    }
}