/* src/components/routes/Sixth.css */


:root {
    --base-font-size: 16px; /* Define the base font size */
  }

    .sixth-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 0;
    }

    .big-heading-5 {
        text-align: center;
        margin-top: 3.125rem;
        position: relative;
    }

    .big-heading-5 h2 {
        font-size: 5rem;
        margin-top: 0;
        margin-bottom: 0;
        color: #D63D3E63 ;
        position: relative;
        top: 0;
        z-index: 1;
        left: -100%;
        animation: slideInFromLeft 1s ease forwards;
    }

    .big-heading-5 h3 {
        font-size: 2.5rem;
        font-weight: 700;
        position: absolute;
        top: 2rem;
        left: 0;
        margin-top: 3.125rem;
        z-index: 2;
        right: -100%;
        animation: slideInFromRight 1s ease forwards;
    }

    .routine-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .routine-logo {
        display: flex;
    }

    .routine-logo img {
        height: 10rem;
        width: 15rem;
        margin: 2rem;
    }



/* Media query for mobile screens */
@media screen and ( max-width: 425px){
    .big-heading-5 h2{
        font-size: 2.125rem;
    }
    .big-heading-5 h3{
        font-size: 1.125rem;
        margin-top: 1rem;
    }
    .routine-logo{
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap:wrap ;
        width:100%;
    }
}