/* src/components/routes/Tenth.css */

:root {
    --base-font-size: 16px; /* Define the base font size */
  }

        .tenth-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .big-heading-9 {
        text-align: center;
        margin-top: 3.125rem;
        position: relative;
        margin-bottom: 0;
    }

    .big-heading-9 h2 {
        font-size: 5.5em;
        margin-top: 0;
        margin-bottom: 0;
        color: #D63D3E63;
        position: relative;
        top: 0;
        z-index: 1;
        left: -100%;
        animation: slideInFromLeft 1s ease forwards;
    }

    .big-heading-9 h3 {
        font-size: 2.5em;
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 2.813rem;
        z-index: 2;
        right: -100%;
        animation: slideInFromRight 1s ease forwards;
    }

    .tenth-container{
        display: flex;
        justify-content: space-between; 
        flex-direction: row;
    }

    .tenth-left-container{
        margin-top: 5rem;
        height: 23.438rem;
        width: 23.438rem;
        display:flex ;
        justify-content: space-between; /* Align items with equal space between them */
        flex-direction: column;
        align-items: center;
    }


    .tenth-left-container p{
        font-family: "Roboto", Sans-serif;
        font-size: 1.563rem;
        border-radius: 1.563rem;
        border: 1px solid;
        background-color: #CE3B3C;
        color:white;
        height: 100%; /* Cover the entire height of the container */
        width: 100%; /* Cover the entire width of the container */
        padding: 0.938rem; 
        box-sizing: border-box; 
    }

    .tenth-img{
        width: 40.625rem;
        height:32.813rem;
        margin-left: 1.875rem;
        animation: boomerangAnimation 2s ease-in-out infinite alternate;
    }





/* Media query for mobile screens */
@media screen and ( max-width: 425px){
    .big-heading-9{
        margin-top: 3.125rem;
    }
    .big-heading-9 h2{
        font-size: 1.688rem;
    }
    .big-heading-9 h3{
        font-size: 1.25rem;
        margin-top: 1.875rem;

    }
    .tenth-container{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2rem;
    }
    .tenth-right-container img{
      width:80%; 
      height: 80%;
    }

    .tenth-left-container p{
        margin-left: 2rem;
        margin-top: 0;
        font-size: 1.4rem;
    }
}