/* src/components/routes/Thirteenth.css */

    .thirteenth-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .big-heading-12 {
        text-align: center;
        margin-top: 3.125rem;
        position: relative;
        margin-bottom: 0;
    }

    .big-heading-12 h2 {
        font-size: 5rem;
        margin-top: 0;
        margin-bottom: 0;
        color: #D63D3E63;
        position: relative;
        top: 0;
        z-index: 1;
        left: -100%;
        animation: slideInFromLeft 1s ease forwards;
    }

    .big-heading-12 h3 {
        font-size: 2.5rem;
        font-weight: 700;
        position: absolute;
        top: 2rem;
        left: 0;
        margin-top: 3rem;
        z-index: 2;
        right: -100%;
        animation: slideInFromRight 1s ease forwards;
    }


    .thirteenth-container{
        display: flex;
        justify-content: space-between; 
        flex-direction: row;
        margin-top:1.5rem;
    }

    .thirteenth-left-container{
        height: 16rem;
        width: 28rem;
        display:flex ;
        justify-content: space-between; /* Align items with equal space between them */
        flex-direction: column;
        align-items: center;
        margin-top: 8rem;
    }


    .thirteenth-left-container p{
        font-family: "Roboto", Sans-serif;
        font-size: 1.25rem;
        line-height: 1.2;
        border-radius: 1.563rem;
        border: 1px solid;
        background-color: #CE3B3C;
        box-shadow: inset 0 0 1vw rgba(250, 4, 4, 0.5);
        color:white;
        /* height: 100%; Cover the entire height of the container */
        /* width: 100%; Cover the entire width of the container */
        padding: 1rem; /* Adjust padding as needed */
        box-sizing: border-box; 
    }

    .thirteenth-img{
        width: 30rem;
        height:30rem;   
        margin-top: 1rem; 
        /* animation: boomerangAnimation 2s ease-in-out infinite alternate; */
    }

:root {
    --base-font-size: 16px; /* Define the base font size */
  }

/* Media query for mobile screens */
@media only screen and (max-width: 600px) {

    .thirteenth-page-content{
        width:100%;
    }
    
    .big-heading-12 h2{
        font-size: 2rem;
    }
    .big-heading-12 h3{
        font-size: 1.5rem;
        margin-top: 0.5rem;

    }
    .thirteenth-container{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .thirteenth-img{
        margin-left: 1.75rem;
        width: 25rem;
        height: 25rem;
        margin-top: 3.75rem;
    }
    .thirteenth-left-container{
        margin-left: auto;
        margin-right: auto;
        height: 20rem;
        width: 100%;
        margin-top: 0;
    }
    .thirteenth-left-container p{
        margin-left: auto;
        margin-right: auto;
    }
}


@media only screen and (min-width: 601px) and (max-width: 1366px) {
    .thirteenth-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .big-heading-12 {
        text-align: center;
        margin-top: 3.125rem;
        position: relative;
        margin-bottom: 0;
    }

    .big-heading-12 h2 {
        font-size: 5rem;
        margin-top: 0;
        margin-bottom: 0;
        color: #D63D3E63;
        position: relative;
        top: 0;
        z-index: 1;
        left: -100%;
        animation: slideInFromLeft 1s ease forwards;
    }

    .big-heading-12 h3 {
        font-size: 2.5rem;
        font-weight: 700;
        position: absolute;
        top: 2rem;
        left: 0;
        margin-top: 3rem;
        z-index: 2;
        right: -100%;
        animation: slideInFromRight 1s ease forwards;
    }


    .thirteenth-container{
        display: flex;
        justify-content: space-between; 
        flex-direction: row;
        margin-top:1.5rem;
    }

    .thirteenth-left-container{
        height: 16rem;
        width: 28rem;
        display:flex ;
        justify-content: space-between; /* Align items with equal space between them */
        flex-direction: column;
        align-items: center;
        margin-top: 8rem;
    }


    .thirteenth-left-container p{
        font-family: "Roboto", Sans-serif;
        font-size: 1.25rem;
        line-height: 1.2;
        border-radius: 1.563rem;
        border: 1px solid;
        background-color: #CE3B3C;
        box-shadow: inset 0 0 1vw rgba(250, 4, 4, 0.5);
        color:white;
        /* height: 100%; Cover the entire height of the container */
        /* width: 100%; Cover the entire width of the container */
        padding: 1rem; /* Adjust padding as needed */
        box-sizing: border-box; 
    }

    .thirteenth-img{
        width: 30rem;
        height:30rem;   
        margin-top: 1rem; 
        /* animation: boomerangAnimation 2s ease-in-out infinite alternate; */
    }

}