/* src/components/routes/Thirteenth.css */

:root {
    --base-font-size: 16px; /* Define the base font size */
  }
        .thirteenth-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .big-heading-12 {
        text-align: center;
        margin-top: 3.125rem;
        position: relative;
        margin-bottom: 0;
    }

    .big-heading-12 h2 {
        font-size: 5.5em;
        margin-top: 0;
        margin-bottom: 0;
        color: #D63D3E63;
        position: relative;
        top: 0;
        z-index: 1;
        left: -100%;
        animation: slideInFromLeft 1s ease forwards;
    }

    .big-heading-12 h3 {
        font-size: 2.5em;
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 2.813rem;
        z-index: 2;
        right: -100%;
        animation: slideInFromRight 1s ease forwards;
    }


    .thirteenth-container{
        display: flex;
        justify-content: space-between; 
        flex-direction: row;
    }

    .thirteenth-left-container{
        margin-top: 1.875rem;
        height: 15.625rem;
        width: 31.25rem;
        display:flex ;
        justify-content: space-between; /* Align items with equal space between them */
        flex-direction: column;
        align-items: center;
        margin-top: 6.25rem;
    }


    .thirteenth-left-container p{
        font-family: "Roboto", Sans-serif;
        font-size: 1.563rem;
        border-radius: 1.563rem;
        border: 1px solid;
        background-color: #CE3B3C;
        color:white;
        height: 100%; /* Cover the entire height of the container */
        width: 100%; /* Cover the entire width of the container */
        padding: 1.25rem; /* Adjust padding as needed */
        box-sizing: border-box; 
    }

    .thirteenth-img{
        width: 34.375rem;
        height:34.375rem;    
        animation: boomerangAnimation 2s ease-in-out infinite alternate;
    }




/* Media query for mobile screens */
@media screen and ( max-width: 425px){
    .big-heading-12{
        margin-top: 2.188rem;
    }
    .big-heading-12 h2{
        font-size: 2.35rem;
    }
    .big-heading-12 h3{
        font-size: 1.75rem;
        margin-top: 2.25rem;

    }
    .thirteenth-container{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .thirteenth-img{
        margin-left: 1.875rem;
        width: 25rem;
        height: 30rem;
        margin-top: 3.75rem;
    }
    .thirteenth-left-container{
        margin-left: 2rem;
        height: 20rem;
        width: 80%;
        margin-top: 0;
    }
    .thirteenth-left-container p{
        font-size: 1.3rem;
    }
}