/* src/components/routes/Twelth.css */


:root {
    --base-font-size: 16px; /* Define the base font size */
  }

.twelth-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.big-heading-11 {
        text-align: center;
        margin-top: 3.125rem;
        position: relative;
        margin-bottom: 0;
}

.big-heading-11 h2 {
        font-size: 5.5em;
        margin-top: 0;
        margin-bottom: 0;
        color: #D63D3E63;
        position: relative;
        top: 0;
        z-index: 1;
        left: -100%;
        animation: slideInFromLeft 1s ease forwards;
}

.big-heading-11 h3 {
        font-size: 2.5em;
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 2.813;
        z-index: 2;
        right: -100%;
        animation: slideInFromRight 1s ease forwards;
}

.twelth-container{
        display: flex;
        justify-content: space-between; /* Align items with equal space between them */
        flex-direction: row;
        width: 80%;
        
}

.twelth-img{
    animation: boomerangAnimation 2s ease-in-out infinite alternate;
    width:100%;
}

.twelth-column-two,
.twelth-column-three {
    width: 25%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iconn-grid {
        display: flex;
        justify-content: center;
        margin-top: 0.625rem;
        border-radius: 0.625rem;
        margin-left: 20%;
        margin-right: 0;
}

.iconn-column {
        flex: 1;
}

.iconn-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-items: center;
        margin-right: 0.625rem;
        margin-left: 0.938rem;
}

.iconn-caption {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 0.625rem; 
        font-family: "Roboto", Sans-serif;
        font-size: 1.125rem;
        font-weight: 500;
}

.iconn-caption img {
        width: 5rem; 
        height: 5rem; 
        margin-bottom: 1.25rem; 
}





/* Media query for mobile screens */
@media screen and ( max-width: 425px){
    .big-heading-11{
        margin-top: 2rem;
    }
    .big-heading-11 h2{
        font-size: 2.5rem;
    }
    .big-heading-11 h3{
        font-size: 1.875rem;
        margin-top: 2.5rem;

    }
    .twelth-container{
        display: flex;
        flex-direction: column;
        margin-top: 3.125rem;
    }
    .twelth-img{
        margin-left: 1rem;
        width: 90%;
    }
    .iconn-column{
        margin-left: 13.125rem;
    }
    .twelth-column-three{
        margin-left: 0.625rem;
    }
}